asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.10
Deprecated==1.2.13
Django==4.0.1
docopt==0.6.2
httpserver==1.1.0
idna==3.3
packaging==21.3
pyparsing==3.0.7
redis==4.1.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
stringify==0.1.1
urllib3==1.26.8
urlshortener==1.0.0
wrapt==1.13.3
